*{
  margin:0;
  padding:0;
  box-sizing:border-box;

  
}
html,body{
  width:100%;
  height:100%;
}
.circle{
  position:fixed;
  transition:all cubic-bezier(0.23, 1, 0.320, 1) 1s;
  height:5px;
  width:5px;
  z-index:999;
  border-radius:50%;
  background-color:#fff;
  pointer-events:none;
}
#main{
  width:100%;
  background-color:black;
  
  
}
.move{
  width:fit-content;
  overflow:hidden;
}
.move-el{
  transform:translateY(100%);

}
#hero{
  width:100%;
  height:50vh;
  color:white;
  background-color:#000000;
  border-bottom:1px solid black;
}
#navbar{
  width:100%;
  padding:20px 40px;
  color:white;
  display:flex;
  align-items:center;
  justify-content:space-between;
}
#navbar a{
  text-decoration:none;
  font-size:3.5rem;
  font-weight:600px;
  color:white;
  opacity:0.8;
  font-family:"General Sans Medium";
}
#navbar h3{
  font-size:1.8rem;
}

#heading{
  margin-top:90px;
  margin-left:30px;
}
#heading h1{
  font-family:"General Sans Medium";
  line-height:1;
  opacity:.7;
  font-size:10vw;
  text-transform:uppercase;
}
#secondh1{
margin-left:150px;
}
#blocktext{
  width:fit-content;
}
#blocktext h5{
  text-align:right;
  text-transform:uppercase;
  font-size:17px;
}

#heading2{
  margin-top:100px;
  padding:20px;
  display:flex;
  flex-direction:column;
  align-items:end;
}
#heading2 h5{
  font-size:1.5vw;
  margin-top:.5vw;
  text-align:right;
  text-transform:uppercase;
}



.icons{
  display:flex;
  gap:5px;
  
}
#herofooter{
  padding:0 2vw;
  width:100%;
  margin-top:300px;
  display:flex;
  align-items:center;
  justify-content:space-between;
}
#herofooter a{
  text-decoration:none;
  color:white;
  font-size:2vw;
  text-transform:uppercase;
  font-weight:900px;
  

  
}
.circle{
  height:30px;
  width:30px;
  border-radius:50%;
  background-color:white;
  display:flex;
  align-items:center;
  justify-content:center;
}
.circle i{
  color:black;

}



#heroSecond{
  width:100%;
  height:100%;
  background-color:black;
 padding-top:100px;
color:white;

}
.elem{
  position:relative;
  width:90%;
  padding:5vw 3vw;
  border-top:1px solid lightgray ;
  display:flex;
align-items:center;
  justify-content:space-between;
  padding-right:0;


}
.elem h1{
  font-size:7.2vw;
  text-transform:uppercase;
  opacity:0.7;

}

.elemLast{
  border-bottom:1px solid lightgray;
  width:90%;

}
.elem img{
  position:absolute;
  z-index:999;
  height:170%;
  display:none;
}

#about{
  display:flex;
  align-items:cneter;
  color:white;
  gap:50px;
  padding:10vw 10vw;
  padding-left:25vw;
  width:100%;
  background-color:black;
  border-top:1px solid black;
  border-bottom:1px solid black;
  
}
#about img{
  height:250px;
  width:250px;
  border-radius:50%;

}

#textabout{
  width:25rem;

}
#textabout h5{
  text-transform:uppercase;
  opacity:.8;
  margin-bottom:10px;
}

#textabout p{
  margin-bottom:30px;
  line-height:1.6;
}
#textabout a{
  text-decoration:none;
  color:white;
  font-size:1.5vw;
  padding:12px 22px;
  border:1px solid #fff;
  border-radius:100px;
  
}
#subscribe{
  background-color:black;
  color:white;
  padding:20px 30px;
  padding-bottom:8vw;
}
#subscribe h5{
  text-transform:uppercase;
  opacity:0.7;
}
#subscribe h3{
  text-transform:uppercase;
  font-size:14px;
  margin-top:14px;
  
}

#footer{
  display:flex;
  align-items:center;
  justify-content:space-between;
  background-color:black;
  padding:40px 30px;
  color:#fff;
}
#footer-left{
  display:flex;
  gap:20px;
}
#footer-right{
  display:flex;
  gap:30px;
}
#footer a{
  text-decoration:none;
  text-transform:uppercase;
  color:white ;
  gap:20px;
}



/*Window view*/
/*
@media screen and (max-width:824px){
  body{
    background-color:black;
  }
}





/*Landscape mode*/
@media screen and (max-height:354px){
  #hero{
    height:100%;
  
  }
  #herofooter{
  margin-top:90px;
  padding:0 4vw 5vw 5vw;
  }
  
  #heroSecond{
    height:100%;
  }
}


